<!-- Not authorized-->
<div class="misc-wrapper">
  <a class="brand-logo" href="javascript:void(0);">
    <img src="assets/images/logo/favicon_nirsa.png" alt="brand-logo" height="30" />
    <h3 style="color: black ;" class="brand-text text-primary ml-1">Nirsa</h3></a
  >
  <div class="misc-inner p-2 p-sm-3">
    <div class="w-100 text-center">
      <h2 style="color: black;" class="mb-1">No estas autorizado..! 🔐</h2>
      <p style="color: black;" class="mb-2">
        El sitio web de Nirsa Workflow utiliza las credenciales predeterminadas para acceder al aplicativo
      </p>
      <!--
      <a class="btn btn-primary mb-1 btn-sm-block" routerLink="/pages/authentication/login-v2" rippleEffect
        >Vuelve al Inicio</a>-->
      <img
        class="container"
        src="assets/images/logo/nirsa_logo.png"
        alt="Not authorized page"
      />
    </div>
  </div>
</div>
<!-- / Not authorized-->
