<div class="content-body">
  <div class="card">
    <div class="card-body">
        <div class="col-xs-12">
          <div class="row">
            <div class="col">
              <div class="form-row form-group">
                  <div class="col-sm-4">
                      <strong>Cedula / Ruc</strong>
                  </div>
                  <div class="col">
                    {{cedula}}
                  </div>
              </div>
            </div>
          </div>
         <div class="row">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-sm-4">
                    <strong>Nombre Completo</strong>
                </div>
                <div class="col">
                  {{nombres}} {{apellidos}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-sm-4">
                    <strong>Direccion</strong>
                </div>
                <div class="col">
                  {{direccion}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-sm-4">
                    <strong>Telefono</strong>
                </div>
                <div class="col">
                  {{telefono}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-sm-4">
                    <strong>Correo</strong>
                </div>
                <div class="col">
                  {{correo}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-sm-4">
                    <strong>Usuario</strong>
                </div>
                <div class="col">
                  {{usuario}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-sm-4">
                    <strong>Contraseña</strong>
                </div>
                <div class="col">
                  <input/>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>