<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center"> {{titulo}}</h4>
            <!--
            <ng-container *ngIf="itemsFabricacion.length>0">
                <app-orden-fabricacion-actualizar-directiva [ads]="itemsFabricacion">
                </app-orden-fabricacion-actualizar-directiva>
            </ng-container>-->
            <ng-container *ngIf="itemsFabricacion.length>0">
                <div class="container">
                    <div class="row">
                        <div class={{itemsFabricacion[0].data.data.clases}}
                            style={{itemsFabricacion[0].data.data.estilosPrincial}}>
                            <label style={{itemsFabricacion[0].data.data.estilosLabel}}>
                                {{itemsFabricacion[0].data.data.label}}
                            </label>
                            <input id={{itemsFabricacion[0].data.data.idnwicomponente}} name="txt_fecha" type="date"
                                class="form-control" [(ngModel)]="fecha"
                                style={{itemsFabricacion[0].data.data.estilosComponente}}
                                (change)="capturarDate(itemsFabricacion[0].data.data.idnwicomponente,$event)">
                        </div>
                        <div class={{itemsFabricacion[1].data.data.clases}}
                            style={{itemsFabricacion[1].data.data.estilosPrincial}}>
                            <label style={{itemsFabricacion[1].data.data.estilosLabel}}>
                                {{itemsFabricacion[1].data.data.label}}
                            </label>
                            <ng-select id={{itemsFabricacion[1].data.data.idnwicomponente}} class="form-control"
                                bindLabel="descripcion" [(ngModel)]="listboxa" [items]="listaElementlistboxa"
                                style={{itemsFabricacion[1].data.data.estilosComponente}}
                                (change)="onSelect(itemsFabricacion[1].data.data.tag)">
                            </ng-select>
                        </div>
                        <div class={{itemsFabricacion[2].data.data.clases}}
                            style={{itemsFabricacion[2].data.data.estilosPrincial}}>
                            <label style={{itemsFabricacion[2].data.data.estilosLabel}}>
                                {{itemsFabricacion[2].data.data.label}}</label>
                            <div class="input-group input-group-merge">
                                <input id={{itemsFabricacion[2].data.data.idnwicomponente}}
                                    type={{itemsFabricacion[2].data.data.tipodato}} class="form-control"
                                    [readonly]="'true'" [(ngModel)]="texta"
                                    style={{itemsFabricacion[2].data.data.estilosComponente}}>
                                <!---->
                                <!--placeholder={{itemsFabricacion[2].data.data.idnwicomponente}}
                                    -->
                            </div>
                        </div>
                        <div class={{itemsFabricacion[3].data.data.clases}}
                            style={{itemsFabricacion[3].data.data.estilosPrincial}}>
                            <label style={{itemsFabricacion[3].data.data.estilosLabel}}>
                                {{itemsFabricacion[3].data.data.label}}
                            </label>
                            <ng-select id={{itemsFabricacion[3].data.data.idnwicomponente}} class="form-control"
                                bindLabel="descripcion" [(ngModel)]="listboxb" [items]="listaElementlistboxb"
                                [readonly]="itemsFabricacion[3].data.data.disabled"
                                style={{itemsFabricacion[3].data.data.estilosComponente}}
                                (change)="onSelect(itemsFabricacion[3].data.data.tag)">
                            </ng-select>
                        </div>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[4].data.data.clases}}
                                style={{itemsFabricacion[4].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[4].data.data.estilosLabel}}>
                                    {{itemsFabricacion[4].data.data.label}}
                                </label>
                                <ng-select id={{itemsFabricacion[4].data.data.idnwicomponente}} class="form-control"
                                    bindLabel="descripcion" [(ngModel)]="listboxc" [items]="listaElementlistboxc"
                                    [readonly]="itemsFabricacion[4].data.data.disabled"
                                    style={{itemsFabricacion[4].data.data.estilosComponente}}
                                    (change)="onSelect(itemsFabricacion[4].data.data.tag)">
                                </ng-select>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[5].data.data.clases}}
                                style={{itemsFabricacion[5].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[5].data.data.estilosLabel}}>
                                    {{itemsFabricacion[5].data.data.label}}
                                </label>
                                <ng-select id={{itemsFabricacion[5].data.data.idnwicomponente}} class="form-control"
                                    bindLabel="descripcion" [(ngModel)]="listboxd" [items]="listaElementlistboxd"
                                    [readonly]="itemsFabricacion[5].data.data.disabled"
                                    style={{itemsFabricacion[5].data.data.estilosComponente}}
                                    (change)="onSelect(itemsFabricacion[5].data.data.tag)">
                                </ng-select>
                            </div>
                        </ng-template>
                        <div class={{itemsFabricacion[6].data.data.clases}}
                            style={{itemsFabricacion[6].data.data.estilosPrincial}}>
                            <label style={{itemsFabricacion[6].data.data.estilosLabel}}>
                                {{itemsFabricacion[6].data.data.label}}
                            </label>
                            <ng-select id={{itemsFabricacion[6].data.data.idnwicomponente}} class="form-control"
                                bindLabel="descripcion" [(ngModel)]="listboxe" [items]="listaElementlistboxe"
                                [readonly]="itemsFabricacion[6].data.data.disabled"
                                style={{itemsFabricacion[6].data.data.estilosComponente}}
                                (change)="onSelect(itemsFabricacion[6].data.data.tag)">
                            </ng-select>
                        </div>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[7].data.data.clases}}
                                style={{itemsFabricacion[7].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[7].data.data.estilosLabel}}>
                                    {{itemsFabricacion[7].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[7].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[7].data.data.tipodato}} class="form-control"
                                        [readonly]="'true'" [(ngModel)]="textb"
                                        style={{itemsFabricacion[7].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[8].data.data.clases}}
                                style={{itemsFabricacion[8].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[8].data.data.estilosLabel}}>
                                    {{itemsFabricacion[8].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[8].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[8].data.data.tipodato}} class="form-control"
                                        [(ngModel)]="textc" style={{itemsFabricacion[8].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[9].data.data.clases}}
                                style={{itemsFabricacion[9].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[9].data.data.estilosLabel}}>
                                    {{itemsFabricacion[9].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[9].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[9].data.data.tipodato}} class="form-control"
                                        [readonly]="'true'" [(ngModel)]="textd"
                                        style={{itemsFabricacion[9].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[10].data.data.clases}}
                                style={{itemsFabricacion[10].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[10].data.data.estilosLabel}}>
                                    {{itemsFabricacion[10].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[10].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[10].data.data.tipodato}} class="form-control"
                                        [(ngModel)]="texte" style={{itemsFabricacion[10].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[11].data.data.clases}}
                                style={{itemsFabricacion[11].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[11].data.data.estilosLabel}}>
                                    {{itemsFabricacion[11].data.data.label}}
                                </label>
                                <ng-select id={{itemsFabricacion[11].data.data.idnwicomponente}} class="form-control"
                                    bindLabel="descripcion" [(ngModel)]="listboxf" [items]="listaElementlistboxf"
                                    [readonly]="itemsFabricacion[11].data.data.disabled"
                                    style={{itemsFabricacion[11].data.data.estilosComponente}}
                                    (change)="onSelect(itemsFabricacion[11].data.data.tag)">
                                </ng-select>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[12].data.data.clases}}
                                style={{itemsFabricacion[12].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[12].data.data.estilosLabel}}>
                                    {{itemsFabricacion[12].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[12].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[12].data.data.tipodato}} class="form-control"
                                        [(ngModel)]="textf" style={{itemsFabricacion[12].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[13].data.data.clases}}
                                style={{itemsFabricacion[13].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[13].data.data.estilosLabel}}>
                                    {{itemsFabricacion[9].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[13].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[13].data.data.tipodato}} class="form-control"
                                        [(ngModel)]="textg" [readonly]="'true'"
                                        style={{itemsFabricacion[13].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[14].data.data.clases}}
                                style={{itemsFabricacion[14].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[14].data.data.estilosLabel}}>
                                    {{itemsFabricacion[14].data.data.label}}</label>
                                <div class="input-group input-group-merge">
                                    <input id={{itemsFabricacion[14].data.data.idnwicomponente}}
                                        type={{itemsFabricacion[14].data.data.tipodato}} class="form-control"
                                        [(ngModel)]="texth" style={{itemsFabricacion[14].data.data.estilosComponente}}>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[15].data.data.clases}}
                                style={{itemsFabricacion[15].data.data.estilosPrincial}}>
                                <label style={{itemsFabricacion[15].data.data.estilosLabel}}>
                                    {{itemsFabricacion[15].data.data.label}}
                                </label>
                                <ng-select id={{itemsFabricacion[15].data.data.idnwicomponente}} class="form-control"
                                    bindLabel="descripcion" [(ngModel)]="listboxg" [items]="listaElementlistboxg"
                                    [readonly]="itemsFabricacion[15].data.data.disabled"
                                    style={{itemsFabricacion[15].data.data.estilosComponente}}
                                    (change)="onSelect(itemsFabricacion[15].data.data.tag)">
                                </ng-select>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[16].data.data.clases}}
                                style={{itemsFabricacion[16].data.data.estilosPrincial}}>
                                <br>
                                <button id={{itemsFabricacion[16].data.data.idnwicomponente}}
                                    style="width: 100%;"
                                    class="btn  btn-primary stop" (click)="modalOpenLG('poza')">
                                    {{itemsFabricacion[16].data.data.label}}
                                </button>
                                <!--
                                      [disabled]="loading"
                                    (click)="proceso(id)"
                                    [class.spinner]="loading"
                                -->
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[17].data.data.clases}}
                                style={{itemsFabricacion[17].data.data.estilosPrincial}}>
                                <br>
                                <button id={{itemsFabricacion[17].data.data.idnwicomponente}}
                                    style="width: 100%;"    
                                    class="btn  btn-primary stop" (click)="modalOpenLG('sub')">
                                    {{itemsFabricacion[17].data.data.label}}
                                </button>
                                <!--
                                      [disabled]="loading"
                                    (click)="proceso(id)"
                                    [class.spinner]="loading"
                                -->
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleP">
                            <div class={{itemsFabricacion[18].data.data.clases}}
                                style={{itemsFabricacion[18].data.data.estilosPrincial}}>
                                <br>
                                <button id={{itemsFabricacion[18].data.data.idnwicomponente}}
                                    style="width: 100%;" [disabled]="loading" [class.spinner]="loading"
                                    class="btn  btn-primary stop" (click)="enviar('poza',itemsFabricacion[18].data.data.tag)">
                                    {{itemsFabricacion[18].data.data.label}}
                                </button>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="visibleS">
                            <div class={{itemsFabricacion[19].data.data.clases}}
                                style={{itemsFabricacion[19].data.data.estilosPrincial}}>
                                <br>
                                <button id={{itemsFabricacion[19].data.data.idnwicomponente}}
                                    style="width: 100%;" [disabled]="loading" [class.spinner]="loading"
                                    class="btn  btn-primary stop" (click)="enviar('sub',itemsFabricacion[19].data.data.tag)">
                                    {{itemsFabricacion[19].data.data.label}}
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <ngx-datatable [limit]="10" [rowHeight]="65" [scrollbarH]="true" [scrollbarW]="true" [footerHeight]="50"
                    [rows]="cajonesEnviarArray" style="width: 100%;" class="bootstrap core-bootstrap"
                    [columnMode]="ColumnMode.force" style="margin-top: 10px;padding: 15px;">
                    <ngx-datatable-column name="Area" prop="area"> </ngx-datatable-column>
                    <ngx-datatable-column name="Número Cajon" prop="num_cajon"> </ngx-datatable-column>
                    <ngx-datatable-column name="Peso" prop="peso_sub_producto"> </ngx-datatable-column>
                    <ngx-datatable-column name="Temperatura" prop="temperatura"> </ngx-datatable-column>
                    <ngx-datatable-column name="Eliminar">
                        <ng-template #buttonsTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
                            <!--<button style="background-color:red;height:15px;" 
                            (click)='onDeleteCajon(row)'><i class="rb-ic rb-ic-add-frame"></i></button>-->
                            <div (click)="onDeleteCajon(row)">
                                <i data-feather="trash" class="cursor-pointer" [size]="24"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <ng-template #modalCajon let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel160">Cajones</h5>
                        <button type="button" class="close" (click)="cerrarModalCajon()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" tabindex="0" ngbAutofocus>
                        <section id="ngx-datatable-Responsive">
                            <div class="row" style="padding-left: 20px;">
                                <div class="d-flex justify-content-between align-items-center" style="250px">
                                    <label class="d-flex align-items-center">Fecha Inicio
                                        <input id="fechInicioCajon" type="date" class="form-control"
                                            (change)="capturarDateInicio($event)" [(ngModel)]="fechInicioCajon">
                                    </label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="d-flex align-items-center">Fecha Fin
                                        <input id="fechFinCajon" type="date" class="form-control"
                                            (change)="capturarDateFin($event)" [(ngModel)]="fechFinCajon">
                                    </label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="d-flex align-items-center">Area
                                        <select class="form-control" style="width: 250px"
                                            [(ngModel)]="areaSelectedOption">
                                            <option value="0"></option>
                                            <option *ngFor="let item of cajonesHarina" value={{item.id}}>{{item.nombre}}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 20px;">
                                <div class="d-flex justify-content-between align-items-center">
                                    <button id="btnBuscarCajon" class="btn  btn-primary stop" (click)="buscarCajon()"
                                        [disabled]="loading" [class.spinner]="loading">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;display: flex;
                                flex-direction: row-reverse;padding-right: 20px;">
                                <div class="d-flex justify-content-between align-items-center">
                                    <button id="btnAggCajon" class="btn  btn-primary stop" (click)="aggCajon()">
                                        Agregar
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <ngx-datatable [limit]="10" [rowHeight]="65" [scrollbarH]="true" [scrollbarW]="true"
                                    [footerHeight]="50" [rows]="cajonesArray" style="width: 100%;"
                                    class="bootstrap core-bootstrap" [selected]="cajonesSeleccionados"
                                    [columnMode]="ColumnMode.force">
                                    <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                        [resizeable]="false">
                                        <ng-template let-value="value" ngx-datatable-header-template>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="headerChkbxRef" class="custom-control-input"
                                                    [checked]="allSelectedRows"
                                                    (change)="onCheckboxChangeAllRow($event,cajonesArray)" />
                                                <label class="custom-control-label" for="headerChkbxRef"></label>
                                            </div>
                                        </ng-template>
                                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template let-isSelected="isSelected">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    [checked]="checkedCajonRow(row)" class="custom-control-input"
                                                    id="rowChkbxRef{{ rowIndex }}"
                                                    (change)=onCheckboxChangeRow($event,row) />
                                                <label class="custom-control-label"
                                                    for="rowChkbxRef{{rowIndex}}"></label>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Número Cajon" prop="num_cajon"> </ngx-datatable-column>
                                    <ngx-datatable-column name="Peso" prop="peso_sub_producto"> </ngx-datatable-column>
                                    <ngx-datatable-column name="Temperatura" prop="temperatura"> </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </section>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>