<!-- Error page-->
<div class="misc-wrapper">
  <a class="brand-logo" href="javascript:void(0);">
    <img src="assets/images/logo/favicon_nirsa.png" alt="brand-logo" height="30"/>
    <h3 style="color: black ;" class="brand-text text-primary ml-1">Nirsa</h3>
    </a>
  <div class="misc-inner p-2 p-sm-3">
    <div class="w-100 text-center">
      <h2 style="color: black;" class="mb-1">Página no encontrada🕵🏻‍♀️</h2>
      <p  style="color: black;"   class="mb-2">¡Ups! 😖 La URL solicitada no se encontró en este servidor.</p>
      <a style="background:#54B374;" class="btn  mb-2 btn-sm-block" routerLink="/pages/authentication/login-v2" rippleEffect
        >  <strong style="color: white;">Vuelve al inicio</strong> </a > 
        <br>
        
        
        <img
        class="container"
        src="assets/images/logo/nirsa_logo.png"
        alt="Error page"
    
       
        /> 
  </div>
</div>
<!-- / Error page-->
