.row-porcentaje_bajo {
    background-color: #F50000 !important;
}
.row-porcentaje_medio {
    background-color: #FBF400 !important;
}
.row-porcentaje_alto {
    background-color: #13FB00 !important;
}